[core]
	pager = delta
[user]
	email = me@wzray.com
	name = Arthur K.
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = OneHalfDark
[merge]
	conflictstyle = diff3
	tool = nvimdiff
[diff]
	colorMoved = default
